body {
    background-color: #ffeedd;
    width: 100%;
    position: fixed;
    margin: 0;
    height: 100vh;
   
}

.Title {
    width: 20%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    font-size: large;
}

.description {
    width: 70%;
    background-color: rgb(161, 160, 160);
    display: grid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    /* flex-direction: calc(2fr,10px); */
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
 
}   
 
.whole-post-div {
    display: grid;
    /* flex-direction: row;
    justify-content: space-between; */
    grid-template-columns: 50% auto;
    align-content: center;
    margin: 0 auto;
    place-items: center;
    place-items: center;
    /* grid-gap: 0cap; */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    justify-content: center; */
    
}

.btndiv {
    margin-top: 1%;
}

.scribblername {
    margin-top:5%;       
}
.trash-symbol {
    cursor: pointer;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 3%;
}
.firstline {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: rgb(62, 60, 60);
}
.secondline {
    display: flex;
    flex-direction: row;
    margin-top: -25px;
}
.post-description {
    font-size: 14px;
}
.ellipsis-symbol {
    margin-left: auto;
    margin-top: auto;
    margin: auto 5px 2px ;
    cursor: pointer;
}

.yes-button {
    background-color: green;
    color: white;
    padding: 10px;
    width: 70px;
}
.no-button {
    background-color: red;
    color: white;
    padding: 10px;
    width: 70px;
    float: inline-end;
}
/* #post-five {
    margin-left: 200%;
    margin-right: 100%;
} */

/* .form {
    display: flex;
    flex-direction: column;
}

.label ,
.input {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.input {
    padding:1%;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 2%;
    width: 100%;
    margin-top: 5px;
} */